<!doctype html>
<html ng-app="myApp">

<head>
    <title>Hello Nessie</title>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.0.8/angular.min.js"></script>
</head>

<body>
    <script>
        var app = angular.module('myApp', []);
        app.controller('NessieController', function ($scope, $http) {
          $http.get("http://api.reimaginebanking.com/atms?key=be0fb21bb5876605fbf8be5c544f590e")
            .then(function(response) {
              $scope.atm = response.data.data[0];
            });
          $http.get("http://api.reimaginebanking.com/customers?key=be0fb21bb5876605fbf8be5c544f590e")
            .then(function(response) {
               $scope.customer = response.data[1];
            });
          $http.get("http://api.reimaginebanking.com/customers/56c66be5a73e492741507345/accounts?key=be0fb21bb5876605fbf8be5c544f590e")
            .then(function(response) {
              $scope.account = response.data;
            });
          $http.post("http://api.reimaginebanking.com/accounts/56c66be6a73e492741507d22/purchases?key=be0fb21bb5876605fbf8be5c544f590e", {
              "merchant_id": "56c66be6a73e492741507625",
              "medium": "balance",
              "purchase_date": "2016-02-29",
              "amount": 100,
              "status": "pending",
              "description": "Bar Tab"
          })
            .then(function(response) {
               $scope.purchase = response.data; 
            });
          $http.post("http://api.reimaginebanking.com/accounts/56c66be6a73e492741507d23/deposits?key=be0fb21bb5876605fbf8be5c544f590e", {
              "medium": "balance",
              "transaction_date": "2016-02-29",
              "status": "pending",
              "amount": 9000,
              "description": "Paycheck"
          })
            .then(function(response) {
               $scope.deposit = response.data; 
            });          
          $http.get("http://api.reimaginebanking.com/enterprise/merchants/56c66be6a73e492741507625?key=be0fb21bb5876605fbf8be5c544f590e")
            .then(function(response) {
                $scope.merchant = response.data;
            });
        });
    </script>
    <div ng-app='myApp' ng-controller="NessieController">
        <p><b>Customer name: </b>{{customer.first_name}} {{customer.last_name}}</p>
        <p><b>Customer Id: </b>{{customer._id}}</p>
        <p><b>Related accounts: </b>
            <li ng-repeat="accounts in account">{{accounts.nickname}} ({{accounts._id}})</li>
        </p>
        <p><b>Latest purchase: </b>{{purchase.objectCreated.description}} for ${{purchase.objectCreated.amount}} charged to
            {{account[0].nickname}} on {{purchase.objectCreated.purchase_date}}</p>
        <p><b>&#09;Purchase details: </b>{{merchant.name}}, {{merchant.address.state}}</p>
        <p><b>Latest deposit: </b>${{deposit.objectCreated.amount}} to {{account[1].nickname}}, on {{deposit.objectCreated.transaction_date}}.
            ({{deposit.objectCreated.description}})</p>
        <p><b>Recommended ATM: </b>{{atm.name}}</p>
        <p><b>Languages provided at ATM: </b>
            <li ng-repeat="language in atm.language_list">{{language}}</li>
        </p>
    </div>
</body>
</html>